.board {
  position: relative;

  & > figure {
    max-width: 50vw;
  }

  &__triangle {
    background-size: 10% 10%;
  }

  &__paper {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &__scissors {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  &__rock {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
