.board__selection {
	position: relative;
	max-width: 90vw;
	aspect-ratio: 1/1;

	& > figure {
		max-width: 50vw;
	}
}

.original {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);

	.triangle {
		grid-column: 2 / 4;
		grid-row: 2 / 4;
	}

	&__paper,
	&__scissors,
	&__rock {
		justify-self: center;
		align-self: center;
	}

	&__paper {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}

	&__scissors {
		grid-column: 3 / 5;
		grid-row: 1 / 3;
	}

	&__rock {
		grid-column: 2 / 4;
		grid-row: 3 / 5;
	}
}

.bonus {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(9, 1fr);

	.pentagon {
		grid-column: 3 / 11;
		grid-row: 3 / 8;
		justify-self: center;
	}

	&__paper,
	&__scissors,
	&__rock,
	&__spock,
	&__lizard {
		justify-self: center;
		align-self: center;
	}

	&__paper {
		grid-column: 8 / 12;
		grid-row: 3 / 7;
	}

	&__scissors {
		grid-column: 5 / 9;
		grid-row: 1 / 5;
	}

	&__rock {
		grid-column: 7 / 11;
		grid-row: 6 / 10;
	}

	&__spock {
		grid-column: 2 / 6;
		grid-row: 3 / 7;
	}

	&__lizard {
		grid-column: 3 / 7;
		grid-row: 6 / 10;
	}
}
