// Colors

// Primary

// Scissors Gradient
$color-scissors-gradient: linear-gradient(
  to bottom,
  hsl(40, 84%, 53%),
  hsl(39, 89%, 49%)
);

$color-scissors-shadow: hsl(39, 100%, 39%);

// Paper Gradient
$color-paper-gradient: linear-gradient(
  to bottom,
  hsl(230, 89%, 65%),
  hsl(230, 89%, 62%)
);

$color-paper-shadow: hsl(230, 86%, 54%);

// Rock Gradient
$color-rock-gradient: linear-gradient(
  to bottom,
  hsl(349, 70%, 56%),
  hsl(349, 71%, 52%)
);

$color-rock-shadow: hsl(349, 83%, 37%);

// Lizard Gradient
$color-lizard-gradient: linear-gradient(
  to bottom,
  hsl(261, 72%, 63%),
  hsl(261, 73%, 60%)
);

// Spock Gradient
$color-spock-gradient: linear-gradient(
  to bottom,
  hsl(189, 58%, 57%),
  hsl(189, 59%, 53%)
);

// Neutral

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$color-white: hsl(0, 0%, 100%);
$color-white-shadow: hsl(0, 0%, 83%);

// Background

$background-color: radial-gradient(
  ellipse at top,
  hsl(214, 47%, 23%),
  hsl(237, 49%, 15%)
);

// $background-color-skeleton: linear-gradient(
//   to bottom,
//   hsl(214, 47%, 23%),
//   hsl(237, 49%, 15%)
// );

$background-color-skeleton: hsl(222deg 45% 18%);

// RESPONSIVE BREAKPOINTS
$bp-mobile: 375px;
$bp-desktop: 1366px;
// $bp-small: 620px;
// $bp-medium: 720px;

// Font
$font-family: "Barlow Semi Condensed", sans-serif;
